default:
  suites:
    default:
      contexts:
        - FeatureContext:
            parameters:
              marketo_settings:
                marketo_rest_instance_host: change_me_to_a_live_value
                marketo_rest_munchkin_account_id: change_me_to_a_live_value
                marketo_rest_munchkin_api_private_key: change_me_to_a_live_value
                marketo_rest_rest_encryption_key: change_me_to_a_live_value
                marketo_rest_rest_endpoint: change_me_to_a_live_value
                marketo_rest_rest_user_id: change_me_to_a_live_value
                marketo_rest_tracking_method: rest
              
              marketo_test_settings:
                marketo_rest_instance_host: app-sjqe.marketo.com
                marketo_rest_munchkin_account_id: 000-AAA-000
                marketo_rest_munchkin_api_private_key: abcdefghijklmnopqrstuvwxyz
                marketo_rest_tracking_method: munchkin
                marketo_rest_user_fieldmap:
                  uid: none
                  name: none
                  pass: none
                  mail: none
                  theme: none
                  signature: none
                  signature_format: none
                  created: none
                  access: none
                  login: none
                  status: none
                  timezone: none
                  language: none
                  picture: none
                  init: none
                  data: none
                
              marketo_default_settings:
                marketo_rest_instance_host: ''
                marketo_rest_logging: 0
                marketo_rest_munchkin_account_id: ''
                marketo_rest_munchkin_api_private_key: ''
                marketo_rest_munchkin_javascript_library: //munchkin.marketo.net/munchkin.js
                marketo_rest_munchkin_lead_source: ''
                marketo_rest_munchkin_partition: ''
                marketo_rest_pages: "admin\r\nadmin/*\r\nbatch\r\nnode/add*\r\nnode/*/*\r\nuser/*/*"
                marketo_rest_roles:
                  1: 0
                  2: 0
                  3: 0
                marketo_rest_rest_encryption_key: ''
                marketo_rest_rest_endpoint: ''
                marketo_rest_rest_proxy_host: ''
                marketo_rest_rest_proxy_login: ''
                marketo_rest_rest_proxy_password: ''
                marketo_rest_rest_proxy_port: ''
                marketo_rest_rest_user_id: ''
                marketo_rest_tracking_method: munchkin
                marketo_rest_user_fieldmap: []
                marketo_rest_user_triggers:
                  login: login
                  insert: insert
                  update: update
                marketo_rest_visibility_pages: '0'
                marketo_rest_visibility_roles: '1'
                marketo_rest_webform_fields: "FirstName|First Name\r\nLastName|Last Name\r\nEmail|Email Address"
                marketo_rest_webform_fields_rest: 'Retrieve from Marketo'

              marketo_page_vis_only:
                marketo_rest_munchkin_account_id: 000-AAA-000
                marketo_rest_munchkin_api_private_key: abcdefghijklmnopqrstuvwxyz
                marketo_rest_tracking_method: munchkin
                marketo_rest_visibility_pages: '1'

              marketo_role_vis_auth_exclude:
                marketo_rest_munchkin_account_id: 000-AAA-000
                marketo_rest_munchkin_api_private_key: abcdefghijklmnopqrstuvwxyz
                marketo_rest_tracking_method: munchkin
                marketo_rest_visibility_roles: '1'
                marketo_rest_roles:
                  1: 0
                  2: '2'
                  3: 0

              marketo_role_vis_auth_include:
                marketo_rest_munchkin_account_id: 000-AAA-000
                marketo_rest_munchkin_api_private_key: abcdefghijklmnopqrstuvwxyz
                marketo_rest_tracking_method: munchkin
                marketo_rest_visibility_roles: '0'
                marketo_rest_roles:
                  1: 0
                  2: '2'
                  3: 0

        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\DrushContext
  extensions:
    Behat\MinkExtension:
      goutte: ~
      selenium2: ~
      base_url: http://localhost
    Drupal\DrupalExtension:
      blackbox: ~
      api_driver: 'drupal'
      drush:
        root: '/var/www'
      drupal:
        drupal_root: '/var/www'
      region_map:
        primary tabs: "ul.tabs.primary"
        secondary tabs: "ul.tabs.secondary"
